<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" configfailurepolicy="skip">
  <test name="Test">
  	<classes>
  		<class name ="TestRunners.LoginRunner2"/>
 	 </classes>
  </test> 
  <listeners>
<listener class-name="Listeners.TestListener">

</listener>  
  </listeners>
  
</suite> <!-- Suite -->
